html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

.btn {
  box-shadow: 0 0px 5px 0 #000000;
  border: 2px solid black;
  background-color: yellow;
  font-family: monospace;
}

.btn:hover {
  box-shadow: 0 3px 10px 0 #878905;
  /*transform: rotateX(360deg);*/
  background-color: yellow;
}

#winr {
  opacity: 1;
}

@media (min-width: 1200px) {
  .col.text-left {
    margin-left: 50%;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
}

#theme {
  position: fixed;
  margin-bottom: 50px;
  margin-top: 20px;
  top: 0;
  z-index: 5;
}

.container-fluid.text-center.d-flex.flex-column.flex-grow-1.flex-shrink-1.justify-content-around.align-items-center.align-content-around.flex-nowrap {
  margin-top: 40px;
}

.icon {
  margin: 10px;
  margin-bottom: 30px;
}

#tictactoe {
  margin-top: 100px;
  margin-bottom: -150px;
}

#winrrow {
}

#winrcontainer {
  position: fixed;
  z-index: -2;
  background-color: white;
  left: 0%;
  opacity: 1;
}

#winrcolumn {
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 0px 4px brown;
}

#classic {
  box-shadow: 0 0 5px blue;
}

.btn-primary {
  color: #004438;
  background-color: yellow;
  border-color: red;
}

#maincontainer-1 {
  margin-top: -40px;
}

#winr {
  font-family: monospace;
}

#XO {
}

@keyframes shadow {
  0% {
    background-color: transparent;
    box-shadow: 0 8px 40px 0 rgb(255,255,255);
    margin-top: 20px;
    border-radius: 60%;
  }
  50% {
    box-shadow: 0 4px 20px 0 rgb(255,255,255);
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 90%;
  }
  100% {
    box-shadow: 0 8px 40px 0 rgb(255,255,255);
    background-color: transparent;
    margin-top: 20px;
    border-radius: 60%;
  }
}

#XO {
  border-bottom: 2px solid white;
  border-radius: 63%;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

#XO {
}

@keyframes ball {
  0% {
    left: 0;
    margin-left: 0px;
  }
  50% {
    margin-left: 500px;
  }
  100% {
    margin-left: 900px;
    transform: rotate(360deg);
  }
}

.endline {
  background-color: #ec3750;
  /*width: 20px;*/
  height: 5px;
  position: fixed;
  animation-name: endline;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  box-shadow: 0 8px 100px 0 rgb(255,255,255);
  z-index: -1;
}

.theme-1 {
  position: absolute;
  left: 0;
  margin-left: -66px;
}

#off1 {
  margin-top: 20px;
}

#maincontainer {
  z-index: 1;
}

.gamebtn {
  z-index: 1;
}

.theme-2 {
  right: 57px;
  margin-top: 20px;
  float: right;
  text-align: right;
  position: absolute;
}

#ball {
  background-color: red;
  position: fixed;
  border-radius: 100%;
  position: fixed;
  animation-name: ball;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

#football {
  width: 50px;
}

